@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";



html, body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: #ffffff; 
}



/* Colors */
.bg-darkgray {
  background-color: #ffffff;
}
.text-darkgray {
    color: #ffffff;
}

/* Fonts */
.font-future {
     font-family: "Michroma", sans-serif;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
